# BigData Project
# Dataset link : https://www.kaggle.com/jessemostipak/hotel-booking-demand


importing pandas and numpy

In [ ]:

import pandas as pd
import numpy as np

In [9]:
df = pd.read_csv('C:/Users/arsla/OneDrive/Desktop/hotel_bookings.csv',header=0)

In [10]:
df.head(10)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03
5,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03
6,Resort Hotel,0,0,2015,July,27,1,0,2,2,...,No Deposit,NaN,NaN,0,Transient,107.0,0,0,Check-Out,2015-07-03
7,Resort Hotel,0,9,2015,July,27,1,0,2,2,...,No Deposit,303.0,NaN,0,Transient,103.0,0,1,Check-Out,2015-07-03
8,Resort Hotel,1,85,2015,July,27,1,0,3,2,...,No Deposit,240.0,NaN,0,Transient,82.0,0,1,Canceled,2015-05-06
9,Resort Hotel,1,75,2015,July,27,1,0,3,2,...,No Deposit,15.0,NaN,0,Transient,105.5,0,0,Canceled,2015-04-22

In [11]:
df['hotel'].count()

119390

In [12]:
df['hotel'].value_counts()

City Hotel      79330
Resort Hotel    40060
Name: hotel, dtype: int64

out of 119390 hotel counts, 79330 are city hotel and 40060 are Resort hotel

In [52]:
for i in df.columns:
    print(i,"----VALUE COUNTS----")
    print(df[i].value_counts())
    print('\n\n')

hotel ----VALUE COUNTS----
City Hotel      79330
Resort Hotel    40060
Name: hotel, dtype: int64



is_canceled ----VALUE COUNTS----
0    75166
1    44224
Name: is_canceled, dtype: int64



lead_time ----VALUE COUNTS----
0      6345
1      3460
2      2069
3      1816
4      1715
       ...
458       1
371       1
737       1
435       1
387       1
Name: lead_time, Length: 479, dtype: int64



arrival_date_year ----VALUE COUNTS----
2016    56707
2017    40687
2015    21996
Name: arrival_date_year, dtype: int64



arrival_date_month ----VALUE COUNTS----
August       13877
July         12661
May          11791
October      11160
April        11089
June         10939
September    10508
March         9794
February      8068
November      6794
December      6780
January       5929
Name: arrival_date_month, dtype: int64



arrival_date_week_number ----VALUE COUNTS----
33    3580
30    3087
32    3045
34    3040
18    2926
21    2854
28    2853
17    2805
20    2785
29    2763
42    2756
31    2741
41    2699
15    2689
27    2664
25    2663
38    2661
23    2621
35    2593
39    2581
22    2546
24    2498
13    2416
16    2405
19    2402
40    2397
26    2391
43    2352
44    2272
14    2264
37    2229
8     2216
36    2167
10    2149
9     2117
7     2109
12    2083
11    2070
45    1941
53    1816
49    1782
47    1685
46    1574
6     1508
50    1505
48    1504
4     1487
5     1387
3     1319
2     1218
52    1195
1     1047
51     933
Name: arrival_date_week_number, dtype: int64



arrival_date_day_of_month ----VALUE COUNTS----
17    4406
5     4317
15    4196
25    4160
26    4147
9     4096
12    4087
16    4078
2     4055
19    4052
20    4032
18    4002
24    3993
28    3946
8     3921
3     3855
30    3853
6     3833
14    3819
27    3802
21    3767
4     3763
13    3745
7     3665
1     3626
23    3616
11    3599
22    3596
29    3580
10    3575
31    2208
Name: arrival_date_day_of_month, dtype: int64



stays_in_weekend_nights ----VALUE COUNTS----
0     51998
2     33308
1     30626
4      1855
3      1259
6       153
5        79
8        60
7        19
9        11
10        7
12        5
13        3
16        3
14        2
18        1
19        1
Name: stays_in_weekend_nights, dtype: int64



stays_in_week_nights ----VALUE COUNTS----
2     33684
1     30310
3     22258
5     11077
4      9563
0      7645
6      1499
10     1036
7      1029
8       656
9       231
15       85
11       56
19       44
12       42
20       41
14       35
13       27
16       16
21       15
22        7
18        6
25        6
30        5
17        4
24        3
40        2
42        1
26        1
32        1
33        1
34        1
35        1
41        1
50        1
Name: stays_in_week_nights, dtype: int64



adults ----VALUE COUNTS----
2     89680
1     23027
3      6202
0       403
4        62
26        5
27        2
20        2
5         2
55        1
50        1
40        1
10        1
6         1
Name: adults, dtype: int64



children ----VALUE COUNTS----
0.0     110796
1.0       4861
2.0       3652
3.0         76
10.0         1
Name: children, dtype: int64



babies ----VALUE COUNTS----
0     118473
1        900
2         15
10         1
9          1
Name: babies, dtype: int64



meal ----VALUE COUNTS----
BB           92310
HB           14463
SC           10650
Undefined     1169
FB             798
Name: meal, dtype: int64



country ----VALUE COUNTS----
PRT    48590
GBR    12129
FRA    10415
ESP     8568
DEU     7287
       ...
SDN        1
NAM        1
DMA        1
ASM        1
MLI        1
Name: country, Length: 177, dtype: int64



market_segment ----VALUE COUNTS----
Online TA        56477
Offline TA/TO    24219
Groups           19811
Direct           12606
Corporate         5295
Complementary      743
Aviation           237
Undefined            2
Name: market_segment, dtype: int64



distribution_channel ----VALUE COUNTS----
TA/TO        97870
Direct       14645
Corporate     6677
GDS            193
Undefined        5
Name: distribution_channel, dtype: int64



is_repeated_guest ----VALUE COUNTS----
0    115580
1      3810
Name: is_repeated_guest, dtype: int64



previous_cancellations ----VALUE COUNTS----
0     112906
1       6051
2        116
3         65
24        48
11        35
4         31
26        26
25        25
6         22
19        19
5         19
14        14
13        12
21         1
Name: previous_cancellations, dtype: int64



previous_bookings_not_canceled ----VALUE COUNTS----
0     115770
1       1542
2        580
3        333
4        229
       ...
47         1
36         1
49         1
50         1
63         1
Name: previous_bookings_not_canceled, Length: 73, dtype: int64



reserved_room_type ----VALUE COUNTS----
A    85994
D    19201
E     6535
F     2897
G     2094
B     1118
C      932
H      601
P       12
L        6
Name: reserved_room_type, dtype: int64



assigned_room_type ----VALUE COUNTS----
A    74053
D    25322
E     7806
F     3751
G     2553
C     2375
B     2163
H      712
I      363
K      279
P       12
L        1
Name: assigned_room_type, dtype: int64



booking_changes ----VALUE COUNTS----
0     101314
1      12701
2       3805
3        927
4        376
5        118
6         63
7         31
8         17
9          8
10         6
13         5
14         5
15         3
11         2
12         2
16         2
17         2
20         1
18         1
21         1
Name: booking_changes, dtype: int64



deposit_type ----VALUE COUNTS----
No Deposit    104641
Non Refund     14587
Refundable       162
Name: deposit_type, dtype: int64



agent ----VALUE COUNTS----
9.0      31961
240.0    13922
1.0       7191
14.0      3640
7.0       3539
         ...
213.0        1
433.0        1
197.0        1
367.0        1
337.0        1
Name: agent, Length: 333, dtype: int64



company ----VALUE COUNTS----
40.0     927
223.0    784
67.0     267
45.0     250
153.0    215
        ...
229.0      1
213.0      1
416.0      1
320.0      1
461.0      1
Name: company, Length: 352, dtype: int64



days_in_waiting_list ----VALUE COUNTS----
0      115692
39        227
58        164
44        141
31        127
        ...
175         1
117         1
89          1
92          1
183         1
Name: days_in_waiting_list, Length: 128, dtype: int64



customer_type ----VALUE COUNTS----
Transient          89613
Transient-Party    25124
Contract            4076
Group                577
Name: customer_type, dtype: int64



adr ----VALUE COUNTS----
62.00     3754
75.00     2715
90.00     2473
65.00     2418
0.00      1959
          ...
202.74       1
87.64        1
69.83        1
160.83       1
35.64        1
Name: adr, Length: 8879, dtype: int64



required_car_parking_spaces ----VALUE COUNTS----
0    111974
1      7383
2        28
3         3
8         2
Name: required_car_parking_spaces, dtype: int64



total_of_special_requests ----VALUE COUNTS----
0    70318
1    33226
2    12969
3     2497
4      340
5       40
Name: total_of_special_requests, dtype: int64



reservation_status ----VALUE COUNTS----
Check-Out    75166
Canceled     43017
No-Show       1207
Name: reservation_status, dtype: int64



reservation_status_date ----VALUE COUNTS----
2015-10-21    1461
2015-07-06     805
2016-11-25     790
2015-01-01     763
2016-01-18     625
              ...
2015-03-30       1
2017-09-12       1
2015-03-13       1
2015-03-29       1
2015-02-06       1
Name: reservation_status_date, Length: 926, dtype: int64

In [53]:
df.replace("?",np.nan,inplace=True)

In [56]:

df.isnull().sum()

hotel                                  0
is_canceled                            0
lead_time                              0
arrival_date_year                      0
arrival_date_month                     0
arrival_date_week_number               0
arrival_date_day_of_month              0
stays_in_weekend_nights                0
stays_in_week_nights                   0
adults                                 0
children                               4
babies                                 0
meal                                   0
country                              488
market_segment                         0
distribution_channel                   0
is_repeated_guest                      0
previous_cancellations                 0
previous_bookings_not_canceled         0
reserved_room_type                     0
assigned_room_type                     0
booking_changes                        0
deposit_type                           0
agent                              16340
company                           112593
days_in_waiting_list                   0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
reservation_status                     0
reservation_status_date                0
dtype: int64

Missing values were already replaced by NaN in the source dataset..

In [55]:
df.replace("NaN",np.nan,inplace=True)
df.replace(" ",np.nan,inplace=True)
df.replace("Null",np.nan,inplace=True)
df.replace("-",np.nan,inplace=True)
df.isnull().sum()

hotel                                  0
is_canceled                            0
lead_time                              0
arrival_date_year                      0
arrival_date_month                     0
arrival_date_week_number               0
arrival_date_day_of_month              0
stays_in_weekend_nights                0
stays_in_week_nights                   0
adults                                 0
children                               4
babies                                 0
meal                                   0
country                              488
market_segment                         0
distribution_channel                   0
is_repeated_guest                      0
previous_cancellations                 0
previous_bookings_not_canceled         0
reserved_room_type                     0
assigned_room_type                     0
booking_changes                        0
deposit_type                           0
agent                              16340
company                           112593
days_in_waiting_list                   0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
reservation_status                     0
reservation_status_date                0
dtype: int64

There are still a few columns that have mssing values that are replaced by NaN..

In [62]:
df['children'].value_counts()

0.0     110796
1.0       4861
2.0       3652
3.0         76
10.0         1
Name: children, dtype: int64

Children Column represents how many children does a family has...
Some of the rows are missing, So I will replace them with Mean of the children column.

In [64]:
df.replace(np.nan,df['children'].mean(),inplace=True)

In [66]:
df['children'].isnull().sum()

0

Since the result is zero this means that all the NaN values are now replace with the mean.

In [13]:
df.isnull()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,False,False,False,False,False,False,False,False,False,False,...,False,True,True,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,True,True,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,True,True,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
119386,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
119387,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
119388,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
119389,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False

In [16]:
df.isnull().sum()

hotel                                  0
is_canceled                            0
lead_time                              0
arrival_date_year                      0
arrival_date_month                     0
arrival_date_week_number               0
arrival_date_day_of_month              0
stays_in_weekend_nights                0
stays_in_week_nights                   0
adults                                 0
children                               4
babies                                 0
meal                                   0
country                              488
market_segment                         0
distribution_channel                   0
is_repeated_guest                      0
previous_cancellations                 0
previous_bookings_not_canceled         0
reserved_room_type                     0
assigned_room_type                     0
booking_changes                        0
deposit_type                           0
agent                              16340
company                           112593
days_in_waiting_list                   0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
reservation_status                     0
reservation_status_date                0
dtype: int64

In [36]:
df.dtypes.value_counts()

int64      16
object     12
float64     4
dtype: int64